<div class="content container">
    <span *ngIf="filterPokemonText" class="lead text-white">Filtered by: {{filterPokemonText}}</span>
    <div *ngIf=" checkList() ; else loading" class="col-12">
        <!-- TODO: Do LazyLoad for http request -->

        <app-pokemon-container *ngFor="let pokemon of pokemonList  ; let i = index " [pokemonName]="pokemon.name"
            [index]="i+1" (openModalPokemon)="openModalPokemon($event)"></app-pokemon-container>
    </div>
</div>



<ng-template #loading>
    <div class="alert alert-warning" role="alert">
        No pokémon found
    </div>
</ng-template>


<app-pokemon-modal [pokemon]="selectedPokemon" (modalClosed)="resetValue()"></app-pokemon-modal>
