<div class="my-2 shadow rounded border bg-white pokemon-container" tabindex="{{index}}" id="{{index}}"
    [ngClass]="{'focused': index == 1}" (click)="viewModal()" (keyup.enter)="chekEnter()">
    <div class="col-12 d-flex  justify-content-center align-items-center p-0">
        <div class="col-3 col-md-2 col-lg-1 border-right p-0 bg-dark">

                <img [src]="pokemon.fron_url" alt="{{pokemon.name}}" class="pokemon-img" loading="lazy">

        </div>
        <div class="col-9  m-auto p-0 d-flex">
            <div class="col-sm">
                <strong>NºPokédex:</strong>
                {{pokemon?.order | pokedexNumber}}
            </div>
            <div class="col-sm">
                <strong>Name:</strong> {{pokemon?.name | titlecase }}
            </div>
            <div class="col-sm">
                <strong>Type:</strong>

                <span *ngFor="let type of pokemon.type;">
                    {{type.type.name | titlecase }}
                </span>
            </div>

        </div>
    </div>

</div>
