.pokemon{
    &-container{
        min-height: 98px;
        outline: none;
        transition: all .2s ease-in-out;
        &:focus{
            transform: scale(1.09);
        }
    }
    &-img{
        min-height: 96px;
    }

}

.focused{
    transform: scale(1.09);
}
