@import '../../../variables';




.modal{
    .close{
        color: white;
    }
    &-header{
        background-color: $dark-gray;
        color: white;
        border-radius: 0;

    }

    &-body{
        background-color: $light-gray;
    }

    &-content{
        border: 2px solid $dark-gray;
    }
}
.table-body{
    width: 100%;
}
