<div class="modal fade" id="modalPokemon" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header m-head">
                <h5 class="modal-title" id="exampleModalLongTitle">{{pokemon?.name | titlecase}}</h5>
                <button type="button" class="close"  aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-body">
                <table class="table-body">
                    <tr>
                        <th>Pokémon</th>
                        <th>Type</th>
                        <th>Front image</th>
                        <th>Back image</th>
                    </tr>
                    <tr>
                        <td> {{pokemon?.name | titlecase}} </td>
                        <td>
                            <span *ngFor="let type of pokemon?.type" class="w-100">
                                {{type.type.name |titlecase}}
                            </span> </td>

                        <td> <img [src]="pokemon?.fron_url" alt="{{pokemon?.name}}"> </td>
                        <td> <img [src]="pokemon?.back_url" alt="{{pokemon?.name}}"> </td>
                    </tr>

                </table>



            </div>

        </div>
    </div>
</div>
