<nav class="navbar navbar-expand-lg navbar-light  mb-5 fixed-top">
    <a class="navbar-brand" href="#"><img src="../../../../assets/img/logos/pokemon.png" id="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#search" aria-controls="search"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="search">
        <div class="form-inline ml-auto ">
            <input class="form-control mr-sm-2" type="text" id="pokemonSearch" placeholder="Search..." (keyup.enter)="filterPokemon(pokemonSearch.value)" #pokemonSearch>
            <button class="btn btn-secondary btn-outline my-2 my-sm-0" type="button" (click)="filterPokemon(pokemonSearch.value)">Search</button>
        </div>

    </div>
</nav>
