/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import '~ngx-toastr/toastr';





body{
    background: #424242 url(assets/img/pattern/bg_pattern.png)!important;
    font-size: 16px;
}
